@font-face {
    font-family: "custom_police" ;
    src: url(".//Honey-I-spilt-Verdana.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*mes couleurs*/
    --col-dark-main :#000000;
    --col-dar-alt :#181515;
    --col-light :#e7f3f5;
    --col-shadows :#e7f3f5b0;
}

body {  
    font-family: "custom_police", sans-serif;
    background-color: var(--col-dark-main);
    color:var(--col-light);

    
}

header { 

    position: fixed;
    background-color:var(--col-dark-alt);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    align-items: center;
    background-color: var(--col-dar-alt);
    padding: 20px;
    z-index: 10;
}   
/* header*/

.header-title {
        width : 35%;
        display: flex;
        flex-direction: row;
        justify-content : start;
        align-items: center;
}
h1{     font-size: 2.5rem;
        margin: 0 25px;

}

.header-title>img{
        display: block;
        width: 20%;
        border-radius: 15%;


}







nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}


/*boutons*/

.btn {
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
    width :fit-content;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
}

.btn-dark:hover {
    background-color: #201616;

}

.btn-dark {
    background-color: var(--col-dark-main);
    color:var (--col-light);
}

.btn-light {
     background-color: var(--col-light);
    color:var (--col-dark-main) ;

}
.btn-light:hover {
    background-color:var(--col-dark-main);
    color : var(--col-light);
    border: var(var(--col-light)) solid 2px ;
    padding : 4px 6px;
}


/*partie main */

main {
    position: relative;
    top: 15vh;
    display : flex;
    flex-direction: column;
    justify-content: start;
    align-items : center;
    
}

main>* {
    margin : 5vh 0;

}

#inter1 {
    background-image: url("../assets/pictures/inter1.png");


}

#inter2 {
    background-image: url("../assets/pictures/inter2.png");   
}

.inter-article { 
    width:100vw;
    aspect-ratio: 3/1;
    background-attachment: fixed;
    background-position-y: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
/* réglage des articles*/

article {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 75%;
    padding: 30px;
    margin : 15px;
    background-color: var(--col-dark-alt);
    border-radius: 10px;
    box-shadow: var (col-shadow) 2px 2px 4px 0;

}


.art-text {

    width : 45%;
}

.art-illus {
   display :block;
   width : 45%; 
}

footer {
    
    position: relative;
    top: 10vh;
    background-color: var(--col-dar-alt);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-top: var(--col-light solid 1px);


}   

.foot-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    border-top: var(--col-light solid 1px);



}